### Python ###
# __pycache__ directories
__pycache__/

# Compiled Python files
*.py[cod]

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.dist-info/
build/
develop-eggs/

# Pytest cache
.cache/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# IDE-specific files
.idea/
*.iml
*.iws
*.ipr

# Ignore target directory
target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
